<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>  

<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" routerLink="" style="color:white;"><b>Moodle</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="">Home <!-- <span class="sr-only">(current)</span> --></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="course">Course</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="joinnow">Joinnow</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="about">About</a>
      </li>
      <li class="nav-item">
        <a class='fa fa-shopping-cart' style='color: white;' routerLink="cart"></a>      
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>

<!-- footer -->
<footer class="text-center mt-2">
  <p>&copy; moodle 2022. All right reserved</p>
</footer>